[Unit]
Description=Check for Plate & Platform server updates

[Timer]
OnBootSec=5min
OnUnitActiveSec=15min
# do not have every machine hit GitHub on the same second
RandomizedDelaySec=3min
Persistent=true

[Install]
WantedBy=timers.target
